*{
  margin: 0;
  padding: 0;
}

.App {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}

.custom-toggler.navbar-toggler {
  border: none;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



	.banner {
  /*content: "";*/
  /*max-height: 600px;*/
  width: 100vw;
  background-image: url(./images/banner.png);
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position:relative;
  overflow: hidden;

}

@media all and (max-width: 425px) {
  .banner {
  background-image: url(./images/backgroundcopy2.png);
  }
}


.phoneParent {
  overflow: hidden;
}

.phone {
  max-width: 100%;
  height: 85%;
  object-fit: contain;
  object-position: 50% 50%;
 
}

.paragraphs {
  color: white;
}

.email {
  width: 95%;
  height: auto;
}

.input {
  height: 45px;
  width:100%;
  border-radius:50px;
  border: none;
}

.button {
  width: 100%;
  height: 45px;
  border-radius: 50px;;
  background-color: #e96f54;
  color: white;
  border: none;
}

.disclaimer {
  opacity: 0.50;
  font-size: 11px;
  
}

.intro {
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
  position:relative;
  overflow: hidden;

}

.introImage {
  max-width: 100%;
  height:auto;

}





.features {

 
  /*height: 650px;*/
  width: 100vw;
  background-image: url(./images/background.png);
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  background-size: cover;
 


}

.screen {
  width: 100%;
  height: auto;
 
 
}

.description {
  font-size: 10px;
 
}

.alignRight {
   text-align: right;
}

.statistics {
  text-align: center;
  height: 100%;
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
 
}

.stats {
  width: 100%;
  display:block;
}

.chart {
  display: none;
}

@media all and (max-width: 425px) {

  .stats {
    display: none;
  }
  .chart { 
    display: block;
    width: 100%;
    height: auto;
  }
}

.calltoAction {
  text-align: center;
  
  color: white;
  height: 350px;
  width: 100vw;
  background-image: url(./images/cta.png);
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  background-size: cover;
  

}

@media all and (max-width: 425px) {
  .calltoAction {
  background-image: url(./images/backgroundcopy3.png);
  height: 70vh;
  }
}


.calltoAction2 {
  height: 100%;
  
}


.footer {
  text-align: center;
  width: 100vw;
  height: 400px;
  background-image: url(./images/background4.png);
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  background-position: 70% 35%;
}

.copywright {
  font-size: 14px;
  color: #666666;
}

@media screen and (max-width: 425px){
  .footer {
    background-image: none;
  }
}
  




.footer2 {
  height: 100%;
}

@media screen and (max-width: 2560px) {
  
  .headerfont {
    font-size: 14px;
  }
  
  .paragraphsize {
    color: #666666;
  }

  .description {
    color: #666666;
  }

  .banner {
    max-height: 530px;
  }

  .features {
    max-height: 570px;
  }
  .h6size {
    font-size: 17px;
}
.description {
    font-size: 14px;
}

}

@media screen and (min-width: 1441px) {
    .ctaInput { 
      width: 400px ;
      float: right;
    }


    .ctaButton {
      width: 200px;
      float: left;
    }

}
  


@media screen and (max-width: 1440px) {
  
  .description {
    font-size: 14px;
  } 
  .footer {
    max-height: 600px;
  }

}
  
@media screen and (max-width: 1399px) {

  .description {
    font-size: 12px;
  }

  .features {
    max-height: 500px;
  }

  .footer {
    max-height: 800px;
  }
}
  
@media screen and (max-width: 1199px) {
  
  .headerfont {
    font-size: 12px;
  }
  .h2size {
    font-size: 22px;
}

  .h6size {
    font-size: 15px;
  }
  .paragraphsize {
    font-size: 12px;
  }

  .paragraphsizeBanner {
    font-size: 12px;
  }

  .description {
    font-size: 10px;
  }

  .banner {
    max-height: 450px;
  }
  .features {
    max-height: 450px;
  }
  .button {
    font-size: 12px;
    height: 30px;
    
  }

  .input {
    font-size: 15px;
    height: 30px;
  }
  
}
  

  


@media screen and (max-width: 1024px) {

  .headerfont {
    font-size: 12px;
  }
  .h2size {
      font-size: 20px;
  }

  .h6size {
      font-size: 12px;
  }
  .paragraphsize {
      font-size: 12px;
  }

  .paragraphsizeBanner {
      font-size: 12px;
  }

  .banner {
      max-height: 380px;
  }

  .features {
      max-height: 400px;
  }

  .description {
    font-size: 10px;
  }

  .button {
    font-size: 12px;
    height: 30px;
    
  }

  .input {
    font-size: 15px;
    height: 30px;
  }

}

@media screen and (max-width: 991px) {
  .h2size {
    font-size: 18px;
  }
  
  .h6size {
    font-size: 12px;
}

  .paragraphsizeBanner {
    font-size: 10px;
  }
  .paragraphsize {
    font-size: 10px;
}
  .features {
    max-height: 390px;
  }

  .button {
    font-size: 12px;
    height: 30px;
    
  }

  .input {
    font-size: 15px;
    height: 30px;
  }

}

@media screen and (max-width: 767px) {
  .h2size {
      font-size: 30px;
  }

  .h6size {
      font-size: 20px;
  }
  .paragraphsize {
    font-size: 20px;
  }

  .paragraphsizeBanner {
    font-size: 19px;
  }

  .description {
      font-size: 18px;
  }

  .banner {
    max-height: 1030px;
  }

  .features {
      max-height: 1400px;
  }

  .input {
    width: 75%;
    height: 60px;
    font-size: 18px;
  }
  
  .button {
    font-size: 18px;
    width: 70%;
    height: 60px;
  }

  .phone {
    max-width: 90%;
  }

  .screen {
    max-width: 80%;

  }
}

@media screen and (max-width: 445px) {
  .features {
    max-height: 1350px ;
    
}

}

@media screen and (max-width: 425px) {
  .h6size {
    font-size: 18px;
  
    
}
.paragraphsize {
    font-size: 19px;
    color: #666666;
}

.paragraphsizeBanner {
  font-size: 19px;
}

.description {

    font-size: 16px;
    color:#666666;
}

.banner {
    max-height: 1055px;
} 

.phone {
  max-width: 100%;
}

.features {
    max-height: 1430px;
}

.screen {
  max-width: 100%;
  height:auto;
}

.input {
  width: 100%;
  height: 45px;
  font-size: 16px;
}

.button {
  font-size: 16px;
  width: 100%;
  height: 45px;
}

.bannerButton {
  width: 120%;
}

.bannerInput {
  width: 110%;
}

.calltoAction {
  max-height: 700px;
}

.footer {
  max-height: 80%;
}


}

@media screen and (max-width: 375px) {
  .h2size {
    font-size: 30px;
    /*font-weight: bolder;*/
}
.paragraphsize {
    font-size: 19px;
}

.paragraphsizeBanner {
  font-size: 19px;
}

  .banner {
    max-height: 1030px;
} 

.features {
    max-height: 1500px;
}

}

@media screen and (max-width: 350px) {
  .features {
    max-height: 1600px ;
    
}
}

@media screen and (max-width: 320px) {
.h2size {
    font-size: 23px;
}
.paragraphsize {
    font-size: 16px;
}

.paragraphsizeBanner {
    font-size: 15px;
}

  .banner {
    max-height: 890px;
} 

.features {
    max-height: 1550px;
}

.button {
    font-size: 16px;
}

.calltoAction {
  max-height: 360px;
}

}